@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KuaforYonetimSistemi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KuaforYonetimSistemi.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="logo">
            <h1>Örnek Kuaför</h1>
        </div>
        <nav>
            <ul>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <li>
                        <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "AdminPaneli" ? "active" : "")"
                           asp-controller="AdminPaneli" asp-action="Index">Admin Paneli</a>
                    </li>
                }
                <li>
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "active" : "")"
                       asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                </li>
                <li>
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Salon" ? "active" : "")"
                       asp-controller="Salon" asp-action="Index">Salonlarımız</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <a class="nav-link @((ViewContext.RouteData.Values["controller"]?.ToString() == "Randevu"
                                            && ViewContext.RouteData.Values["action"]?.ToString() == "Index") ? "active" : "")"
                           asp-controller="Randevu" asp-action="index">Randevularım</a>
                    </li>
                }
                <li>
                    <a class="nav-link @((ViewContext.RouteData.Values["controller"]?.ToString() == "Randevu"
                                           && ViewContext.RouteData.Values["action"]?.ToString() == "Randevu") ? "active" : "")"
                       asp-controller="Randevu" asp-action="Randevu">Randevu al</a>
                </li>
                <li>
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Hairstyle" ? "active" : "")"
                       asp-controller="Hairstyle" asp-action="Index">Saç Önerisi</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </nav>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            &copy; 2024 - KuaforYonetimSistemi -
            <a asp-controller="Home" asp-action="Privacy">Gizlilik Politikası</a>
            - İletişim: 0 (262)-XXX-XX-XX kuafor@ornek.com
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
