@model KuaforYonetimSistemi.Models.Calisan

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/Calisan.css" asp-append-version="true" />

<h1 class="mb-4">Çalışan Sil</h1>

<h3>Bu çalışanı silmek istediğinizden emin misiniz?</h3>

<div>
    <h4>Çalışan Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isim) (ID: @Html.DisplayFor(model => model.Id))
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UzmanlikAlani)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UzmanlikAlani)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salon.Isim) (ID: @Html.DisplayFor(model => model.Salon.Id))
        </dd>
    </dl>

    <span class="text-danger">Dikkat! Bu çalışana bağlı servisler silinecektir.</span> <br />
    <span class="text-danger">Silinmesini istemediklerinizi farklı bir çalışana aktarın.</span>

    <form asp-action="Delete" class="mt-3">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Sil</button> |
        <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
    </form>
</div>
